* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(21, 236, 234, 1) 15%, rgba(101, 127, 255, 1) 71%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
}

header {
    background-color: aliceblue;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    z-index: 100;
}

/*SECCION DE BANNER*/

#img_logo{
    height: 40px;
}

.img_banner {
    height: 280px;
}

#myCarousel {
    height: 400px;
}

.carousel-item {
    height: 360px;
}

.carousel-caption {
    justify-content: center;
    align-items: center;
}

.baner_info {
    margin: 30px;
}


@media (max-width: 800px) {


    #myCarousel,
    .carousel-item {
        height: 450px;
    }

    .carousel-caption {
        flex-direction: column;
    }

    .img_banner {
        height: 190px;
    }

    .baner_info {
        margin: 5px;
    }

    #banner .btn {
        font-size: 1rem;
    }

}



/*SECCION DE PRODUCTOS*/


.producto {
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgb(83, 83, 83);
}

.producto:hover {
    color: rgba(0, 0, 255, 0.644);
    font-weight: bolder;
}

.cont_img {
    width: 100%;
    height: 225px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_img img {
    height: 100%;
    transition: scale 1s;
    padding: 10px;
}

.cont_img img:hover {
    scale: 1.1;
}




/*MODAL*/

#btn_modal {
    display: none;
}

#contenedor_btn {
    display: flex;
    height: 110px;
    overflow-x: auto;
}

#contenedor_btn button {
    height: 90px;
    border: none;
    margin: 5px;
}

#contenedor_btn .cont_img img {
    padding: 5px;
}

#collapseExample {
    position: absolute;
    top: 56px;
    right: 12px;
    width: 256px;
}



/*ITEM DE CARRO*/
.cont_img_carro {
    height: 80px;
    width: 100%;
}

.cont_img_carro img {
    height: 100%;
    background-color: blue;
}

.item_info {
    width: 50%;
}

.btn-close {
    top: 0px;
    right: 0px;
    font-size: 0.8rem;
}


#contador_carrito{
    position: relative;
    top: 12px;
    right: -5px;
}

@media (max-width: 1400px) {
    .producto .cont_img img {
        height: 85%;
    }
}


@media (max-width: 1200px) {
    .producto .cont_img img {
        height: auto;
        width: 95%;
    }
}

@media (max-width: 992px) {
    #btn_carro {
        z-index: 200;
        position: absolute;
        bottom: -50px;
        right: 9px;
    }

    #collapseExample {
        top: 39px;
        right: 0px;
        width: 280px;
    }


    #contador_carrito {
        top: 2px;
        right: 20px;
    }

    .producto .cont_img img {
        height: 70%;
        width: auto;
    }
}



@media (max-width: 800px) {
    .producto {
        height: 300px;
    }

    #contenedor_btn button {
        height: 60px;
    }

      .producto .cont_img img {
        height: 100%;
        width: auto;
    }

}



.contenedor_lista{
    max-width: 800px;
}

.cantidad{
    display: flex;
    margin-right: 20px;
}


.cantidad button{
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_detalle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
